<div *ngIf="produitsList" class="container d-flex mx-auto row mt-5">
    <div *ngFor="let prd of produitsList" class="card mr-5 mb-5" style="width: 18rem;">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{prd.nom}}</h5>
        <p class="card-text">{{prd.description}}</p>
        <span class="mr-auto">{{prd.prix}} €</span>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary d-flex justify-content-center">Ajouter au panier</a>
      </div>
    </div>
  </div>
